@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?oa4j7v');
    src: url('../fonts/icomoon.eot?oa4j7v#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?oa4j7v') format('truetype'), url('../fonts/icomoon.woff?oa4j7v') format('woff'), url('../fonts/icomoon.svg?oa4j7v#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {

    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ps:before {
    content: "\e998";
    color: #be1a19;
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 13px;
}

.pscc .icon-ps:before,
.pscc .icon-ag:before {
    right: 0px;
    left: auto;
}

.icon-qrcode:before {
    content: "\e938";
    color: #008900;
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 13px;
}

#triagem .icon-qrcode:before {
    content: "\e938";
    float: right;
    font-size: 26px;
    color: #444;
    position: static;
}

.icon-ag:before {
    content: "\e953";
    color: #103b70;
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 13px;
}

.icon-co:before {
    content: "\e944";
    color: #444;
    font-size: 38px;
    position: absolute;
    top: 10px;
    left: 13px;
}

.icon-user:before {
    content: "\e971";
    float: right;
    font-size: 26px;
    color: #444;
}

.title_icon .icon-ps:before {
    content: "\e998";
    color: #be1a19;
    float: right;
    font-size: 26px;
    position: static;
}

.dados .icon-user:before {
    float: left;
    font-size: 34px;
    color: #444;
    margin-right: 15px;
    margin-left: 10px;
}

.icon-cad:before {
    content: "\e9b8";
    float: right;
    font-size: 26px;
    color: #444;
}

.icon-seta:before {
    content: "\ea34";
    float: left;
    color: #ff0000;
    font-size: 45px;
    position: absolute;
    top: 178px;
    left: 54px;
    z-index: 2;
}

.icon-unidade:before {
    content: "\e903";
    color: #444;
    position: static;
    float: left;
    margin-right: 10px;
    font-size: 37px;
}

.icon-sad:before {
    content: "\e9e5";
    color: #444;
    position: static;
    float: left;
    margin-right: 10px;
    font-size: 32px;
}

.icon-mapa:before {
    content: "\e947";
    color: #c10000;
    position: static;
    float: left;
    margin-right: 10px;
    font-size: 32px;
        margin-top: -6px;
}

